.eduplus-bg-info {
    background-color: #3a9bdc;
}

.eduplus-bth-info {
    background-color: #3a9bdc !important;
    border-color: #3a9bdc !important;
}

/* slider */
.carousel-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    opacity: 0.6;
}

#explore .align-items-center {
    background-color: #f4fafd;
}

/* footer */
a {
    text-decoration: none;
    color: whitesmoke;
}

@media screen and (max-width: 992px) {
    #company {
        display: none;
    }
}